# Application
NODE_ENV=development
PORT=3000
APP_NAME=ECG-LMS-API
APP_VERSION=1.0.0

# Database
DATABASE_URL="postgresql://ecg_user:ecg_password@localhost:5432/ecg_lms?schema=public"

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
